<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form action="{% url 'user:login_handle' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ul>
        <li>
            <label>账号</label>
            <input type="text" name="uname">
        </li>
        <li>
            <label>密码</label>
            <input type="password" name="upwd">
        </li>
        <li>
            <input type="submit" value="登录">
        </li>
    </ul>
</form>
</body>
</html>