{% extends 'indexfu.html' %}
{% block fu1 %}
    <div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>
	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">新鲜水果</a></li>
			<li><a href="#model02" class="seafood">海鲜水产</a></li>
			<li><a href="#model03" class="meet">猪牛羊肉</a></li>
			<li><a href="#model04" class="egg">禽类蛋品</a></li>
			<li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="#model06" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>


	<div class="list_model">
		<div class="list_title clearfix">
            {% for i in a1 %}
			<h3 class="fl" id="model01">{{i.t_title}}</h3>
            {% endfor %}
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="/goods/gengduo/1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner01.jpg"></div>
			<ul class="goods_list fl">
            {% for i in a %}

                <li>
					<h4><a href="#">{{ i.gtitle}}</a></h4>
					<a href="#">{{i.gpic|safe}}</a>
					<div class="prize">¥{{i.gprice}}</div>
				</li>

                {% endfor %}
			</ul>
		</div>
	</div>


	<div class="list_model">
		<div class="list_title clearfix">
			{% for i in a2 %}
			<h3 class="fl" id="model01">{{i.t_title}}</h3>
            {% endfor %}
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">河虾</a>
				<a href="#">扇贝</a>				
			</div>
			<a href="/goods/gengduo/2/" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner02.jpg"></div>
			<ul class="goods_list fl">
				{% for i in b %}

                <li>
					<h4><a href="#">{{ i.gtitle}}</a></h4>
					<a href="#">{{i.gpic|safe}}</a>
					<div class="prize">¥{{i.gprice}}</div>
				</li>

                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			{% for i in a3 %}
			<h3 class="fl" id="model01">{{i.t_title}}</h3>
            {% endfor %}
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="/goods/gengduo/3/" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner03.jpg"></div>
			<ul class="goods_list fl">
				{% for i in c %}

                <li>
					<h4><a href="#">{{ i.gtitle}}</a></h4>
					<a href="#">{{i.gpic|safe}}</a>
					<div class="prize">¥{{i.gprice}}</div>
				</li>

                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			{% for i in a4 %}
			<h3 class="fl" id="model01">{{i.t_title}}</h3>
            {% endfor %}
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="/goods/gengduo/4/" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner04.jpg"></div>
			<ul class="goods_list fl">
				{% for i in d %}

                <li>
					<h4><a href="#">{{ i.gtitle}}</a></h4>
					<a href="#">{{i.gpic|safe}}</a>
					<div class="prize">¥{{i.gprice}}</div>
				</li>

                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			{% for i in a5 %}
			<h3 class="fl" id="model01">{{i.t_title}}</h3>
            {% endfor %}
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="/goods/gengduo/5/" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner05.jpg"></div>
			<ul class="goods_list fl">
				{% for i in e %}

                <li>
					<h4><a href="#">{{ i.gtitle}}</a></h4>
					<a href="#">{{i.gpic|safe}}</a>
					<div class="prize">¥{{i.gprice}}</div>
				</li>

                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			{% for i in a6 %}
			<h3 class="fl" id="model01">{{i.t_title}}</h3>
            {% endfor %}
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="/goods/gengduo/6/" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner06.jpg"></div>
			<ul class="goods_list fl">
				{% for i in f %}

                <li>
					<h4><a href="#">{{ i.gtitle}}</a></h4>
					<a href="#">{{i.gpic|safe}}</a>
					<div class="prize">¥{{i.gprice}}</div>
				</li>

                {% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
